<h1>Groups</h1>

<h4>Current groups:</h4>
<p>
  <% if current_user %>
    <% @user = current_user %>
    <% @user.groups.each do |group| %>
      <%= group.name %><br>
    <% end %>
  <% end %>
</p>

<table>
  <thead>
    <tr>
      <th><h4>All groups:</h4></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= link_to "View etherpads", group %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
<br>
