<div class="row">
  <div class="col-md-8">
    <h2>Add Group</h2>
  </div>
  <div class="col-md-4 text-right">
      <%= link_to groups_path, class: "btn btn-default" do %>
        <i class="fa fa-arrow-left"></i> Manage Groups
      <% end %>
  </div>
</div>

<div class="row">
	<div class="col-md-3">
		<div class="panel panel-default">
			<%= render 'form' %>
		</div>
	</div>
</div>