<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Getting Started</h2>
  </div>
  <div class="list-group">
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">The Dashboard</h4>
  		<p class="list-group-item-text">The <strong>Dashboard</strong> shows all of the courses to which you are currently registered and the StudyPads that exist for those courses.</p>
		</div>  		
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">Adding Courses to Your Dashboard</h4>
  		<p class="list-group-item-text">Click on 'Courses' in the navbar to display a complete list of Purdue's subjects. Select a subject and then click on one of its courses to find the 'Add to Dashboard' button.</p>
		</div>  		
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">Creating StudyPads</h4>
  		<p class="list-group-item-text">To make a new StudyPad, simply click 'New StudyPad' from the navbar, select a course, and choose a name. You must add a course to your dashboard before creating a StudyPad for it.</p>
		</div>  			
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">Need more help?</h4>
  		<p class="list-group-item-text">If you have any further questions, please feel free to <%= mail_to 'studyhubsx@gmail.com', 'email us!' %></p>
		</div>
  </div>
</div>