<div class="page-header2">
	<h1>Help</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Helpful links</h3>
  </div>
  <div class="list-group">
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">Getting Started</h4>
  		<p class="list-group-item-text"><%= link_to 'An introductory guide to Study Hub', getting_started_path %></p>
		</div>  		
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">How to Use StudyPads</h4>
  		<p class="list-group-item-text"><%= link_to 'A guide to the different features available in StudyPads', howto_path %></p>
		</div>  		
  </div>
</div>