<div class="page-header2">
	<h1>Help</h1>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Helpful links</h3>
  </div>
  <div class="list-group">
		<div class="list-group-item">
  		<h4 class="list-group-item-heading"><%= link_to 'Getting Started', getting_started_path %></h4>
  		<p class="list-group-item-text">An introductory guide to Study Hub</p>
		</div>  		
		<div class="list-group-item">
  		<h4 class="list-group-item-heading"><%= link_to 'How to Use StudyPads', howto_path %></h4>
  		<p class="list-group-item-text">A guide to the different features available in StudyPads</p>
		</div>  		
  </div>
</div>

<h5>If you have any questions that aren't addressed in the above links, please <%= mail_to 'studyhubsx@gmail.com', 'email us.' %></h5>