<div class="index-carousel">
  <div class="carousel-images">
    <div class="carousel-item index-carousel-item mlb-victis active">
      <div class="index-carousel-item-wrapper">
        <section class="index-carousel-content">
        	<div class="jumbotron">
            <h1>Study Pool</h1>
            <p>Changing the way students prepare for exams forever.</p>
          </div>
        </section>
        <div class="index-carousel-overlay"></div>
        <div class="index-carousel-background">
					<%= image_tag("library5.jpg") %>
        </div>
      </div>
    </div>
  </div>
</div>
