<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="homepage-navbar">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Study Pool", root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      	<li><a href="#what">What</a></li>
      	<li><a href="#why">Why</a></li>
    		<li><a href="#how">How</a></li>
      	<li><a href="#who">Who</a></li>
    		<li><a href="#about">About</a></li>
        <li>
          <%= link_to new_user_session_path do %>
            Sign In
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            Sign Up
          <% end %>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- container -->
</nav>

<div class="content" id="homepage-body">
	<div id="what">
		<div class="what-box">
			<div class="container">
				<div class="what-text">
					<h1>
						Study guides will<br>
						never be the same.
					</h1>
					<p>
						Study Pool creates a collaborative working<br>
						environment that allows you to work on study guides<br>
						with your peers more easily than ever before.
					</p>
				</div>
			</div>
		</div>
    <div class="what-bg"></div>
	</div>
  <div class="content">
  	<div id="why">
  		Why
  	</div>

  	<div id="how">
  		How
  	</div>
  	
  	<div id="who">
  		Who
  	</div>
  	
  	<div id="about">
  		About
  	</div>
  </div>
</div>