<div class="panel panel-default">
  <div class="panel-heading">
    <h2>How to Use StudyPads</h2>
  </div>
  <div class="list-group">
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">Toolbar</h4>
  		<p class="list-group-item-text">Common styling tools are found in the <strong>toolbar</strong>. Use the toolbar to bold, italicize, underline,  strikethrough, create bullet and number lists, and align text.</p>
		</div>  		
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">Headings and the Table of Contents</h4>
  		<p class="list-group-item-text">Organize your content with <strong>headings</strong>. Click 'Style' in the toolbar and choose a heading type to change the font size of a line. Using headings also generates a <strong>Table of Contents</strong> automatically, which can be displayed by clicking the settings gear on the right side of the toolbar and checking 'Show Table of Contents.'</p>
		</div>  		
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">Chat</h4>
  		<p class="list-group-item-text">Click 'Chat' at the bottom-right of a StudyPad to chat with other collaborators. The chat box can be enlarged by clicking the square at the top of the chat window or checking 'Chat always on screen' in the settings box.</p>
		</div>  		
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">Images</h4>
  		<p class="list-group-item-text">Upload an image by clicking the paperclip in the toolbar. The image will be shown with a url directly below it. Changing this url will prevent the image from displaying properly. Image functionality is currently limited, and will be improved in future version of Study Hub if desired by users.</p>
		</div>  		
		<div class="list-group-item">
  		<h4 class="list-group-item-heading">Need more help?</h4>
  		<p class="list-group-item-text">If you have any further questions, please feel free to <%= mail_to 'sbrown2251@gmail.com', 'email us' %>.</p>
		</div>
  </div>
</div>