<div class="page-header2">
  <h1>Courses</h1>
</div>
<p class="lead">Click on a subject to browse its courses.</p>

<div class="text-center">
  <%= will_paginate @subjects, renderer: BootstrapPagination::Rails %>
</div>

<div class="pagination_table">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-9">
          <h4 class="panel-title">Subjects</h4>
        </div>
      </div>
    </div>
    <ul class="list-group">
      <% @subjects.each do |subject| %>
        <li class="list-group-item">
          <%= link_to subject do %>
            <%= subject.abbr %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>