html, body {
  height: 100%;
  background-color: rgb(242,244,246);
}

/* ===== Navbar ===== */

#homepage-navbar {
	height: 72px;
	opacity: 0.85;
	padding-top: 14px;
}

#homepage-navbar .navbar-brand {
	font-size: 30px;
	font-weight: normal;
}

#homepage-navbar .navbar-nav li {
	font-size: 17px;
  color: white;
}

#homepage-navbar .navbar-default .navbar-nav > li > a {
  color: white !important;
}




/* ===== Body ===== */

#homepage-body body { 
	padding-top: 92px;
  // margin:0;
}

#homepage-body .row {
  margin: 0;
}

/* -- Flash -- */
#homepage-body i {
  font-size: 10em;
}
#homepage-body .flash-bg {
 position: absolute;
 width:100%;
 height:100%;
 background-image: url('/assets/library10.jpg');
 background-size: cover;
 left:0;
 z-index: 1;
 border-bottom: 1px solid #3d3d3d;
}

#homepage-body .flash-box{
  margin-top: 200px;
  position:absolute;
  left:0;
  right:0;
  background-color:rgba(239,239,239,0.65);
  z-index: 2;
}

#homepage-body .flash-text{
	text-align: left;
	position: relative;
	height: 100%;
  font-size: 30px;
  color: #3d3d3d;
}

#homepage-body .flash-text h1 {
	font-size: 60px;
	font-weight: normal;
}

#homepage-body .flash-text p {
	font-weight: normal;
}

#homepage-body .flash-text .btn-primary {
  font-size: 30px;
}



/* Content */

#homepage-body .content {
  position: absolute;
  top: 100%;
  width:100%;
  right: 0;
  left: 0;
  margin: 0;
}

#create, #collaborate, #dominate {
  height: 600px;
  padding-top: 150px; // is this the best way to do this?
}


/* -- Create -- */
#create {
  color: rgb(136,136,136);
  background-color: rgb(242,244,246);
}

#create .lead {
  color: rgb(51,51,51);
}

#create .row {
  margin: 0;
}


/* -- Collaborate -- */
#collaborate {
  background-color: rgb(222,77,62);
  color: white;
}

#collaborate .lead {
  color: rgb(121,59,50);
}


/* -- Dominate -- */
#dominate {
  color: rgb(136,136,136);
  background-color: rgb(242,244,246);
}

#dominate .lead {
  color: rgb(51,51,51);
}