/* ===== Navbar ===== */

#homepage-navbar {
	height: 72px;
	opacity: 0.85;
}

#homepage-navbar .navbar-brand {
	font-size: 30px;
}

#homepage-navbar .navbar-nav li {
	font-size: 22px;
}




/* ===== Body ===== */

body { 
	padding-top: 70px; 
}

#what {
  height: 800px
}

#why {
  height: 800px
}

#how {
  height: 800px
}

#who {
  height: 800px
}

#about {
  height: 800px
}

