html, body {
  height: 100%;
}

/* ===== Navbar ===== */

#homepage-navbar {
	height: 72px;
	opacity: 0.85;
	padding-top: 14px;
}

#homepage-navbar .navbar-brand {
	font-size: 30px;
	font-weight: normal;
}

#homepage-navbar .navbar-nav li {
	font-size: 22px;
  color: white;
}

#homepage-navbar .navbar-default .navbar-nav > li > a {
  color: white !important;
}

/* ===== Body ===== */

#homepage-body body { 
	padding-top: 92px;
}

#homepage-body .what-bg {
  position:absolute;
  width: 100%;
	height: 100%;
  background-image: url("/assets/library6.jpg");
  background-position: 0 center;
  background-size: cover;
  left:0px;
  bottom:0px;
  z-index: 1;
}

#homepage-body .what-box{
  position: absolute;
  left: 0;
  right: 0;
  background: rgba(239,239,239,0.65);
  z-index: 2;
}

#homepage-body .what-text{
	text-align: left;
	position: relative;
	height: 100%;
}

#homepage-body .what-text h1 {
	font-size: 60px;
	font-weight: normal;
	color: #3d3d3d;
}

#homepage-body .what-text p {
	font-size: 30px;
	font-weight: normal;
	color: #3d3d3d;
}

#why, #how, #who, #about {
  height: 800px;
}

