<footer class="footer">
	<div class="container">
		Study Pool<br>
		Created by Spencer Brown, 2014<br>
		<div class="footer-emphasis">Please share any feedback <a href="mailto:sbrown2251@gmail.com">here</a></div>
	</div>
</footer>