<footer class="footer">
	<div class="container">
		Study Hub<br>
		Created by Spencer Brown, 2014<br>
		<div class="footer-emphasis">Please submit any feedback <a href="mailto:studyhubsx@gmail.com">here</a></div>
	</div>
</footer>